   <!DOCTYPE html>
<html lang="es">
<head>
    <meta  charset="UTF-8">
    <title>INICIO</title>
    <!--this is of second form for use css-->
    <link rel="stylesheet" type="text/css" href="../css/style2.css">
</head>
<body>

<ul>
  <li><a class="active" href="../html/3INICIO.html" target="_parent">INICIOS</a></li>
  <li><a href="../html/4NOTICIAS.html" target="_parent">NOTICIAS</a></li>
  <li><a href="../html/5EVOLUCIONES.html"target="_parent">EVOLUCIONES</a></li>
  <li><a href="../html/6JUEGOS.html"target="_parent">JUEGOS</a></li>
  <li><a href="../html/7CONTACTOShtml.html"target="_parent">CONTACTOS</a></li>
</ul>