    <!DOCTYPE html>
<html lang="es">
<head>
    <meta  charset="UTF-8">
    <!--this is of second form for use css-->
    <link rel="stylesheet" type="text/css" href="../css/style3.css">
</head>
<body>
    <div id="foot">
            <div class="divfoot" id="color8">
            <span class="spanfoot">Servicios</span>
            <ol>
            <li><a href="../html/8VIDEO JUEGOS.html"target="_parent">VIDEOJUEGOS</a>
            <li><a href="../html/10tutoriales.html"target="_parent" >TUTORIALES</a></li>
            <li><a href="../html/9consolas.html"target="_parent">CONSOLAS</a></li>
            <li><a href="../html/11juegos.html" target="_parent">JUEGOS</a></li>
            </ol>
        </div>
            <div class="divfoot" id="color8">
            <span class="spanfoot">Acerda De Nosotros</span>
            <ol>
            <li><a href="../html/13quienes somos.html"target="_parent">QUIENES SOMOS</a>
            <li><a href="../html/14LOCALIZACION.html"target="_parent">LOCALIZACION</a></li>
            <li><a href="../html/15TIENDA VIRTUAL.html"target="_parent">NUESTRA TIENDA VIRTUAL</a></li>
            <li><a href="../html/12.long.html"target="_parent">INICIAR SESION</a></li>
            </ol>
        </div>
            <div class="divfoot" >
                <span class="spanfoot">Siguenos</span>
                <div id="imgr"><a href="https://www.facebook.com/" target="_blank"> 
                <img src="../imagenes/facebook1.png"; class="icono";> </a></div>
                <div id="imgr"><a href="https://www.youtube.com/" target="_blank"> 
                <img src="../imagenes/youtube1.png"; class="icono";> </a></div>
                <div id="imgr"><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"> 
                <img src="../imagenes/gmail1.png"; class="icono";> </a></div><div id="imgr"><a href="https://co.pinterest.com/" target="_blank"> 
                <img src="../imagenes/pinteres1.png"; class="icono";> </a></div>     
    </div>
</div>
</body>